html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.clear{
  clear: both;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: inherit;
  scrollbar-color: inherit;
}

html {
  font-size: 100%;
}
// @media screen and (max-width: 799px) {
//   html {
//     font-size: 87.5%;
//   }
// }
// @media screen and (min-width: 2180px) {
//   html {
//     font-size: 112.5%;
//   }
// }

body {
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0;
  background: $bg2;
  color: $fg4;
  font-family: $font;
}

a {
  background-color: transparent;
  color: $theme2;
  text-decoration: none;
  transition: $transition-time;

  &:active,
  &:focus,
  &:hover {
    outline-width: 0;
  }

  &:hover {
    color: $theme2-light;
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    transition: 0s;
    color: $theme2-dark;
  }

  &:focus {
    text-decoration: underline;
  }
}

[type="button"],
[type="reset"],
[type="submit"],
[role="button"],
.file-wrap,
button {
  @include clickable;
  user-select: none;
  background-color: $bg1;
  border: $border-width solid $bg0;
  padding: 0.5em 1em;
  color: $fg2;
  border-radius: $radius1;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  transition: $transition-time;

  &:active,
  &:focus,
  &:focus-within {
    outline-width: 0;
  }

  &:focus,
  &:focus-within {
    transition: 0s;
    border-color: $theme2;
  }

  &:hover {
    transition: $transition-time;
    border-color: $theme2;
    background: $bg3;
    color: $fg1;
    cursor: pointer;
  }

  &:active {
    transition: 0s;
    background: $theme2;
    border-color: $theme2;
    color: $fg0;
  }
}

.b2 {
  background: $theme2;
  border-color: transparent;
  color: $fg0;

  &:hover {
    background-color: $theme2-light;
    border-color: transparent;
  }

  &:active {
    background-color: $theme2-dark;
    border-color: transparent;
  }
  &:focus:not(:hover):not(:active){
    border-color: $theme2;
    background: $bg2;
    transition: $transition-time;
    color: $fg4;
  }
}

input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="range"]),
select,
.color-wrap,
 {
  @include input;
  display: inline-block;
  background: $bg2;
  border: $border-width solid $bg1;
  color: $fg3;
  border-radius: $radius1;
  padding: 0.3rem 0.6rem;
  font-family: inherit;
  outline: none !important;

  &:active,
  &:focus {
    border-color: $theme2;
  }
  &:invalid{
    border-bottom-color: $theme-red;
    box-shadow: none !important;
  }
}

input[type="range"] {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  transition: $transition-time;
  $thumb-color: $fg0;
  $thumb-focus: $fg4;
  $track-color: $bg5;
  $track-focus: $bg5;

  &::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    height: 0.2rem;
    background: $track-color;
    border-radius: 1rem;
    transition: $transition-time;
  }

  &::-moz-range-track {
    cursor: pointer;
    width: 100%;
    height: 0.2rem;
    background: $track-color;
    border-radius: 1rem;
    transition: $transition-time;
  }

  &::-webkit-slider-thumb {
    background: $thumb-color;
    margin-top: -0.44rem;
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: none;
    transition: $transition-time;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    background: $thumb-color;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: none;
    transition: $transition-time;
    cursor: pointer;
  }

  &:active {
    &::-moz-range-track {
      background: $track-focus;
    }

    &::-moz-range-thumb {
      background: $thumb-focus;
    }

    &::-webkit-slider-runnable-track {
      background: $track-focus;
    }

    &::-webkit-slider-thumb {
      background: $thumb-focus;
    }
  }

  &:focus {
    &::-moz-range-thumb {
      transition: 0s;
      border: $border-width solid $theme2-dark;
      background: $thumb-color;
    }

    &::-webkit-slider-thumb {
      transition: 0s;
      box-shadow: 0 0 0 $border-width $theme2-dark;
      background: $thumb-color;
    }
  }
}

.color-wrap {
  padding: 0;
  display: inline-block;
  user-select: none;
  height: 3rem;

  &:focus-within {
    border-color: $theme2;
    background: $bg1;
    color: $fg2;
  }

  input[type="text"] {
    user-select: text;
    position: relative;
    float: left;
    height: 3rem;
    top: 0;
    width: 13.18rem;
  }
}

.reset-input {
  border: none !important;
  background-color: transparent !important;
  padding: none !important;
}

input[type="color"] {
  outline: none !important;
  background: $bg2;
  border: none;
  padding: 0;
  height: 3rem;
  width: 3rem;
  color: $fg3;
  position: relative;
  top: -0.125rem;
  right: 0;
  clip-path: circle(33.73% at 60% 50%);
  transition: $transition-time;

  &:hover {
    filter: invert(20%);
    cursor: pointer;
  }

  &:focus {
    filter: none;
  }
}

.textarea[texteditable],
textarea {
  @include section;
  background: $bg2;
  border: $border-width solid $bg1;
  outline: none !important;
  padding: 1rem;
  width: 100%;
  border-radius: $radius2;
  color: $fg2;
  font-size: 0.9rem;
  resize: vertical;
  scrollbar-width: thin;
  scrollbar-color: $fg4 transparent;

  &:focus-within {
    border-color: $theme2;
  }
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='lightgrey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  appearance: none;
  background-position-x: 100%;
  background-position-y: 0.31rem;
  width: 10.625rem;
  color: $fg3;
  font-size: inherit;
  padding: 0.5rem 0.6rem;

  &:hover {
    cursor: pointer;
  }
}

.radio {
  display: block;
  position: relative;
  padding-left: 2.19rem;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem 0;
  user-select: none;
  box-sizing: content-box;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    transition: $transition-time/2;
    position: absolute;
    top: -0.07rem;
    left: 0;
    height: 1.555rem;
    width: 1.555rem;
    background: $bg2;
    border: $border-width solid $bg1;
    border-radius: 50%;
  }

  &:hover {
    .checkmark {
      transition: 0;
      border-color: $theme2;
    }
  }

  input:checked ~ .checkmark {
    transition: 0;
    background-color: $bg2;
    border: 0.5rem solid $theme;
  }

  &:focus,
  &:focus-within {
    .checkmark {
      transition: 0;
      box-shadow: 0 0 0 $border-width $theme2;
    }

    input:checked ~ .checkmark {
      background: $bg3;
    }
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 2.19rem;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  margin: 1rem 0;
  box-sizing: content-box;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    transition: $transition-time/2;
    position: absolute;
    left: 0;
    height: 1.555rem;
    width: 1.555rem;
    background: $bg2;
    border: $border-width solid $bg1;
    border-radius: 0.25rem;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.4rem;
    top: 0.15rem;
    width: 0.313rem;
    height: 0.625rem;
    border: solid $bg2;
    border-width: 0 0.188rem 0.188rem 0;
    transform: rotate(45deg);
  }

  &:focus-within {
    .checkmark {
      transition: 0;
      border-color: $theme2;
    }

    input:checked ~ .checkmark {
      transition: 0;
      box-shadow: 0 0 0 $border-width $theme2;
    }
  }

  input:checked ~ .checkmark {
    background: $theme;
    border-color: $theme;
  }

  &:hover {
    .checkmark {
      transition: 0;
      border-color: $theme2;
    }
  }
}

.file-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  display: inline-block;

  * {
    cursor: pointer;
  }

  .button-wrap {
    position: relative;

    input[type="file"] {
      position: absolute;
      z-index: -10000;
      top: 0.625rem;
      left: 0.5rem;
      font-size: inherit;
      color: #b8b8b8;
    }

    .b1,
    .b2 {
      display: inline-block;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.44rem;
  height: 1.75rem;
  user-select: none;
  margin: 1rem 0;
  box-sizing: content-box;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    outline: none !important;

    &:checked + .slider {
      background-color: $theme;
    }

    &:checked + .slider:before {
      transform: translateX(1.625rem);
    }
  }

  input:checked ~ .slider {
    border: $border-width solid $theme-dark;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg2;
    border: $border-width solid $bg1;
    transition: $transition-time;
    border-radius: 2.125rem;

    &:before {
      transition: $transition-time;
      position: absolute;
      content: "";
      height: 1.25rem;
      width: 1.25rem;
      left: 0.2rem;
      bottom: 0.12rem;
      background-color: $fg0;
      border-radius: 50%;
    }
  }

  &:focus-within input:checked ~ .slider {
    box-shadow: 0 0 0 $border-width $theme2;
  }

  &:focus-within,
  &:hover {
    .slider {
      transition: 0s;
      border-color: $theme2;
    }
  }
}

.switch-label {
  position: relative;
  top: 0.125rem;
  left: 0.625rem;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.form-label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  color: $fg5;
  opacity: 0.9;
}

details {
  background: $bg3;
  padding: 0.4rem;
  border-radius: $radius2;
  margin: 0.4rem 0;

  summary {
    margin: -0.4rem;
    vertical-align: top;
    font-size: 1.1rem;
    background-color: $bg2;
    border: $border-width solid $bg1;
    color: $fg2;
    padding: 0.2rem 0.5rem;
    border-radius: $radius2;
    outline: none !important;
    transition: border $transition-time, background-color $transition-time;
    user-select: none;

    &::-webkit-details-marker {
      color: $fg0;
    }

    &:focus,
    &:hover {
      cursor: pointer;
      border-color: $theme2;
    }

    &:hover {
      background-color: $bg3;
    }

    &:active {
      transition: 0s;
      background: $theme2;
      color: $fg0;
    }
  }

  &[open] summary {
    transition: 0s;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

button,
input {
  margin: 0.15rem 0;
}

br {
  user-select: none;
}

strong {
  font-weight: 600;
}

img {
  border-style: none;
}

hr {
  background: $fg4;
  opacity: 0.7;
  box-sizing: content-box;
  border-radius: $radius0;
  height: $border-width;
  padding: 0;
  margin: 1.5em 0;
  overflow: hidden;
  background-color: $fg4;
  border: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
}

p {
  margin-top: 0;
  margin-bottom: 0.625em;
}

blockquote {
  margin: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

code,
kbd,
pre {
  font-family: "Fira Mono", fira-mono, monospace, color-emoji;
  font-size: 1em;
  word-wrap: normal;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

pre > code {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  word-break: normal;
  white-space: pre;
  background: transparent;
  overflow: auto;
  background: $bg3;
  line-height: inherit;
  word-wrap: normal;
  padding: 0.4rem 0.8rem;
  border: $border-width solid $bg2;
  border-radius: $radius1;
  scrollbar-width: thin;
  scrollbar-color: $fg4 transparent;
}

.anchor {
  float: left;
  padding-right: 0.25em;
  margin-left: -1.25em;
  line-height: 1;
}

.anchor:focus {
  outline: none;
}

blockquote,
dl,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  margin-bottom: 1em;
}

blockquote {
  padding: 0 1em;
  color: var(--blockquote-text-color);
  border-left: 0.25em solid var(--blockquote-border-color);
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

kbd {
  display: inline-block;
  padding: 0.1875em 0.3125em;
  font-size: 80%;
  line-height: 1;
  color: var(--kbd-text-color);
  vertical-align: middle;
  background-color: $bg2;
  border: $border-width solid $bg1;
  border-radius: $radius0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 0;

  &.h-border {
    border-bottom: $border-width solid $theme;
    padding-bottom: 0;
    display: inline-block;
    clear: both;
  }
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  text-decoration: none;
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
  opacity: 0.67;
}

ol,
ul {
  padding-left: 2em;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  overflow-wrap: break-word;
}

li > p {
  margin-top: 1em;
}

li+li {
  margin-top: 0.25em;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 1em;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

dl dd {
  padding: 0 1em;
  margin-bottom: 1em;
}

table {
  width: 100%;
  overflow: auto;
}

table th {
  font-weight: 600;
}

table td,
table th {
  padding: 0.375em 0.8125em;
  border: $border-width solid $bg2;
}

table tr {
  background-color: $bg3;
  border-top: $border-width solid $bg2;
}

table tr:first-child {
  background-color: $bg2;
}

table tr:nth-child(2n) {
  background-color: $bg4;
}

img {
  max-width: 100%;
  box-sizing: content-box;
}

img[align=right] {
  padding-left: 1.25em;
}

img[align=left] {
  padding-right: 1.25em;
}

.prompter {
  @include section;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($bg1, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  & > section {
    padding: 40px;
    overflow-y: auto;
    position: relative;
    text-align: left;
    width: 500px;
    //height: 550px;
    max-width: 90vw;
    max-height: 90vh;
    background: $bg4;
    border: $border-width solid $bg1;
    border-radius: $radius3;
    scrollbar-width: thin;
    scrollbar-color: $fg4 transparent;

    .box {
      margin: -40px;
      padding: 20px;
      background: $bg2;
      margin-top: 0;
      border-top: $border-width solid $bg1;
    }

    .closeicon {
      color: $fg0;
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 50 50' overflow='visible' stroke='white' stroke-opacity='0.7' stroke-width='10' stroke-linecap='round'><line x2='50' y2='50' /><line x1='50' y2='50' /></svg>");
      font-family: sans-serif;
      font-weight: bold;
      border-radius: 30px;
      display: inline-block;
      padding: 6px;
      user-select: none;
      box-shadow: 0 0 0 $border-width $theme-dark;
      margin: calc($border-width * 2);
      top: 0;
      right: 0;
      position: absolute;
      background: $theme-red;
      transition: $transition-time;

      &:hover {
        background: $theme-light;
        cursor: pointer;
      }

      &:active {
        transition: 0s;
        background: $theme-dark;
      }
    }
  }
}
